@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(245, 245, 245);
}

.title{
    font-size: 2.5vw;
    width: 100%;
    padding-top: 20vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.description{
    font-size:0.8vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    padding-top: 8vh;
}

.loader{
    border: 9px solid #e1e1e1; /* Light grey */
    border-top: 9px solid #ffdf00; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade-in-out {
    animation: fadeInOut 8s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.footer{
    padding-top: 30vh;
    font-size: 0.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}